<div class="d-flex">

  <div class="form-group">
    <h2><%= @task.title %></h1>
    <p><%= @task.details %></p>
    <% if @task.completed %>
        <p><%= "[X] This task is completed" %></p>
    <%else%>
        <p><%= "[ ] This task is not completed yet" %></p>
    <%end%>
  </div>

  <div class="form-group">
    <%= link_to "Edit this task", edit_task_path, class: "btn btn-outline-secondary" %>
  </div>
</div>

<br>
<%= link_to "Back to list", tasks_path %>
<br>

<%= link_to "🗑",
  task_path(@task),
  method: :delete,
  data: { confirm: "Are you sure?" } %>
<br>


